[submodule "splits-oracle/lib/solady"]
	path = splits-oracle/lib/solady
	url = https://github.com/vectorized/solady
[submodule "splits-oracle/lib/solmate"]
	path = splits-oracle/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "splits-oracle/lib/v3-periphery"]
	path = splits-oracle/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "splits-oracle/lib/v3-core"]
	path = splits-oracle/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "splits-oracle/lib/splits-utils"]
	path = splits-oracle/lib/splits-utils
	url = ./splits-utils
[submodule "splits-swapper/lib/forge-std"]
	path = splits-swapper/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "splits-swapper/lib/solady"]
	path = splits-swapper/lib/solady
	url = https://github.com/vectorized/solady
[submodule "splits-swapper/lib/solmate"]
	path = splits-swapper/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "splits-swapper/lib/splits-oracle"]
	path = splits-swapper/lib/splits-oracle
	url = ./splits-oracle
[submodule "splits-swapper/lib/v3-periphery"]
	path = splits-swapper/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "splits-swapper/lib/splits-utils"]
	path = splits-swapper/lib/splits-utils
	url = ./splits-utils
[submodule "splits-pass-through-wallet/lib/splits-utils"]
	path = splits-pass-through-wallet/lib/splits-utils
	url = ./splits-utils
[submodule "splits-pass-through-wallet/lib/forge-std"]
	path = splits-pass-through-wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "splits-diversifier/lib/forge-std"]
	path = splits-diversifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "splits-diversifier/lib/splits-utils"]
	path = splits-diversifier/lib/splits-utils
	url = ./splits-utils
[submodule "splits-diversifier/lib/splits-oracle"]
	path = splits-diversifier/lib/splits-oracle
	url = ./splits-oracle
[submodule "splits-diversifier/lib/solady"]
	path = splits-diversifier/lib/solady
	url = https://github.com/vectorized/solady
[submodule "splits-diversifier/lib/splits-pass-through-wallet"]
	path = splits-diversifier/lib/splits-pass-through-wallet
	url = ./splits-pass-through-wallet
[submodule "splits-utils/lib/forge-std"]
	path = splits-utils/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "splits-utils/lib/solmate"]
	path = splits-utils/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "splits-utils/lib/solady"]
	path = splits-utils/lib/solady
	url = https://github.com/vectorized/solady
[submodule "splits-oracle/lib/forge-std"]
	path = splits-oracle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
